.aboutme {
  font-style: italic;
  width: 50%
}

body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.selfportait {
  width: 200px;
  float: right;
}

.menardslogo {
  width: 100px;
  margin-left: 75px;
}
.space1 {
  margin-right: 475px
}

.space2 {
  margin-right: 550px;
}

.space3 {
  margin-right: 475px;
}

.left-div {
  width: 30%;
  float: left;
}

.right-div {
  float: left;
  width: 45%;
}

.links-header {
  margin-left: 25px
}

.border1 {
 border: 1px solid black;
  width: 70%;
 }

.border2 {
 border: 1px solid black;
 }

.footer {
  background-color: lightgreen;
  clear: both;
}

h1,h2,h3 {
  text-decoration: underline
}
